[submodule "source/js/Core"]
	path = source/js/Core
	url = https://eranroz@github.com/eranroz/StoryJS-Core.git
[submodule "source/less/Core"]
	path = source/less/Core
	url = https://eranroz@github.com/eranroz/StoryJS-Core-CSS.git
